<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuthPage</title>
</head>

<body>
    <h1>
        OAuthPage
    </h1>
</body>
<script>
    function myFunction() {
        const redirectURL = encodeURI('<%- authorizationRequestURL %>');
        window.open(redirectURL, "_top");
    }
    setTimeout(myFunction, 200);
</script>

</html>