.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container > * {
  margin: 25px 0;
}

.container h1 {
  font-size: 3em;
}

p {
  font-size: larger;
  line-height: 35px;
  width: 70%;
}
